*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Rubik', sans-serif;
    background-color: #ffffff;
    justify-content: center;
    color:#0057FF;
    font-size: 12pt;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:85vw;
    height:30px;
    margin-top: 5vh;
}

nav>a {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
    padding: 0;
}

nav li {
    min-width: 20px;
}

a {
    text-decoration: none;
    color: #0057FF;
}

a:active {
    color:#FC6471
}

a:hover {
    color:#FC6471;
    font-weight: 400;
}

.section { 
    display:flex;
    flex-flow: row wrap;
    width: 85vw;
    
}

#navbar{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 85px;
    height: 45px;
    border-bottom: 1px solid #0057FF;
    
}

#leftbuttons{
    display:flex;
    flex-flow: row wrap;
}

#navbar ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-width: 10vw;
    padding: 0;
}

#navbar ul li {
    padding: 11px;
}

select {
    display:flex;
    flex-flow: row wrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    padding:10px;
    border-top: 1px solid #0057FF;
    border-right: 1px solid #0057FF;
    border-left: 1px solid #0057FF;
    border-bottom: none;
    color: #0057FF;

}

#home {
    display:flex;
    flex-flow: row wrap;
    min-width: 60px;
    max-height: 45px;
    border-top: 1px solid #0057FF;
    border-right: none;
    border-left: 1px solid #0057FF;
    border-bottom: none;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

#home > img {
    display:flex;
    flex-flow: row wrap;
    max-height: 30px;
}

#ir {
    display:flex;
    flex-flow: row wrap;
    min-width: 60px;
    max-height: 45px;
    border-top: 1px solid #0057FF;
    border-left: none;
    border-right: 1px solid #0057FF;
    border-bottom: none;
    background-color: #0057FF;
    align-items: center;
    justify-content: center;
}

#comunas {
    border-right: none;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background-color: #0057FF;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FC6471;
  }



