*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Rubik', sans-serif;
    background-color: #ffffff;
    justify-content: center;
    color:#0057FF;
    font-size: 12pt;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:85vw;
    height:30px;
    margin-top: 5vh;
}

nav>a {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
    padding: 0;
}

nav li {
    min-width: 20px;
}

a {
    text-decoration: none;
    color: #0057FF;
}

a:active {
    color:#FC6471
}

a:hover {
    color:#FC6471;
    font-weight: 400;
}

.section { 
    display:flex;
    flex-flow: row wrap;
    background-color: black;
    width: 85vw;
    margin-top: 40px;
}

#sec1{
    display: flex;
    flex-flow: row nowrap;
    position:relative;
}

#sec1 img {
    min-height: 83vh;
    height: 83vh;
    max-width: 90vw;
    width:auto;
    z-index: 0;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #704e16;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background-color: #3F6654;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F5643E;
  }



