*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Rubik', sans-serif;
    background-color: #F2EFEA;
    justify-content: center;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:90vw;
    height:40px;
    margin-top: 5vh;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 25vw;
}

a {
    text-decoration: none;
    color: #3F6654;
}

a:active {
    color:#F5643E;
    font-weight: 600;
}

a:hover {
    color:#F5643E;
    font-weight: 600;
}

.section { 
    display:flex;
    flex-flow: row wrap;
    width: 90vw;
    margin-top: 40px;
}

#sec1{
    display: flex;
    flex-flow: row nowrap;
    position:relative;
}

#sec1 img {
    min-height: 83vh;
    height: 83vh;
    max-width: 90vw;
    width:auto;
    z-index: 0;
}

#sec1 div{
    background-color: #062619;
    z-index: 1;
    position:absolute;
    align-self: center;
    justify-self:right;
    left: 45%;
    padding: 60px;
}

#sec1 div p {
    color:#70A07C;
    font-size: 1.5vw;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 4vw;
    color:#F5643E;
}

p {line-height: 180%;}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #704e16;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background-color: #3F6654;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F5643E;
  }



